img{
    float:left;
}
video{
    float: left;
}
@font-face {
  /*フォントの名前*/
  font-family: "huiji";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("/font/HuiFontP29.woff2") format("woff2"),
       url("/font/HuiFontP29.woff") format("woff");
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
}

/*
#header{
    width: 100%;
    overflow: hidden;
    background: #e63c35;
    padding: 6px 0px;
    position: fixed;
    z-index:2;
}
*/
.header{
    width: auto;
    height:500px;
    background: #F9F8F2 url(0965.jpg) 0 0 no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.header h1{
    float: left;
    color: #F9F8F2;
    margin-right: 48px;
    margin-left: 10px;
}
.header nav{
/*    overflow: hidden;*/
}

.header nav ul{
    width:500px;
    overflow: hidden;
    margin:auto;
}

nav li{
    list-style-type: none;
    float: left;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
nav a{
    font-style: 16px;
    display: block;
    text-decoration: none;
    color: #f9f9f9;
    margin: 14px 16px 5px;
    transition:0.3s;
}
nav a:hover{
    border-bottom: 3px solid #f9f9f9;
}

body{
    width: 100%;
    background: #6ABBC7;
}

/*
.main-visual{
    width: auto;
    height: 500px;
    background: #fff url(0965.jpg) 0 0 no-repeat;
    background-size: cover;
    margin-bottom: 32px;
    padding-top: 60px;
}
*/
.wrapper{
    width: 640px;
    margin: 0 auto;
    overflow: hidden;
}


#main{
    width: 620px;
    margin: 0 auto;
    overflow: hidden;
    background: #F9F8F2;
    padding-left: 16px;
    margin-bottom: 30px;
    float: left;
}

p{
    margin-bottom: 16px;
    font-family: "huiji";
    font-size: 20px;
}



#main a.fbbutton{
    font-size: 16px;
    color: #3B5998;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 10px 30px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fbbutton .edge{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none repeat scroll 0 0 #3B5998;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.fbbutton .edge1{
    width: 1px;
    -webkit-transform: translate3d(0,-100%, 0);
    -ms-transform: translate3d(0,-100%, 0);
    -o-transform: translate3d(0,-100%, 0);
    transform: translate3d(0,-100%, 0);
    transition-delay: 0.2s;
}

.fbbutton .edge2{
    height: 1px;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transition-delay: 0.2s;
}

.fbbutton .edge3{
    width: 1px;
    left: auto;
    right: 0;
    -webkit-transform: translate3d(0,100%, 0);
    -ms-transform: translate3d(0,100%, 0);
    -o-transform: translate3d(0,100%, 0);
    transform: translate3d(0,100%, 0);
}

.fbbutton .edge4{
    height: 1px;
    top: auto;
    bottom: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

#main a.fbbutton:active{
    background-color: #3B5998;
    color: #fff;
}

a.fbbutton:hover .edge{
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.content{
    border-bottom: 1px solid #eee;
    padding: 16px 0;
    overflow: hidden;
}

.content:last-child{
    border-bottom: 0;
}

#Profile{
    position: relative;
}

.top-title{
    font-size: 36px;
    padding-left: 8px;
    margin-bottom: 16px;
    color: #2E8291;
    font-weight: 400;
    border-left: 6px solid #2E8291;
    border-radius: 2px;
}
.right-box{
    float: left;
    width: 288px;
    margin-left: 18px;
}
.left-box{
    float: left;
    width: 288px;
    margin-right: 18px;
}

#Like ul li{
    list-style-type: none!important;
    margin-top: 2px;
}

h2{
    color: #6ABBC7;
    margin-bottom: 8px;
    font-family: "huiji";
}

#Summer h2{
    margin-bottom: 0px;
}


.dissolve-animation{
    position: relative;
    width: 300px;
    float: left;

}
.photo{
        margin:3px;
    }

#photos{
    margin-bottom:8px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
/*
#content1 .dissolve-animation .caption{
    position: absolute;
    padding: 20px;
    background: #e63c35;
    height: 160px;
    width: 260px;
    
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;

}
#content1 .dissolve-animation .caption h2{
    color: white;
    font-size: 13px;
}
#content1 .dissolve-animation .caption h3{
    color: white;
    font-size: 15px;
}
#content1 .dissolve-animation:hover .caption{
    -webkit-transform: translate(8px, 8px);
    -ms-transform: translate(8px, 8px);
    -o-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
    
    opacity: 1;
}
*/
/*

.flip-animation{
    position: relative;
    width: 300px;
    float: left;
    
    -webkit-perspective: 500;
    -moz-perspective: 500;
    -ms-perspective: 500;
    perspective: 500;
    
    -webkit-perspective-origin: left;
    -moz-perspective-origin: left;
    -ms-perspective-origin: left;
    perspective-origin: left;
}
#content2 .flip-animation .caption{
    position:absolute;
    padding: 20px;
    background: #e63c35;
    height: 185px;
    width: 100px;
    
    opacity: 0;
    
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    
    -webkit-transition: transform 0.4s, opacity 0.1s 0.3s;
    -o-transition: transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}
#content2 .flip-animation .caption h2{
    color: white;
    font-size: 13px;
}
#content2 .flip-animation .caption h3{
    color: white;
    font-size: 15px;
}
#content2 .flip-animation:hover .caption{
    opacity: 1;
    
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    
    -webkit-transition: transform 0.4s, opacity 0.1s;
    -o-transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}
#content2 .flip-animation:hover img{
-webkit-transform: translateX(25%);
-ms-transform: translateX(25%);
-o-transform: translateX(25%);
transform: translateX(25%);
}
#content2 .flip-animation img{
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
}*/
